{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "EMBEDED",
      "config" : {
        "users" : [ {
          "username" : "admin",
          "password" : "pwd",
          "roles" : [ "admin" ]
        }, {
          "username" : "support",
          "password" : "pwd",
          "roles" : [ "support" ]
        }, {
          "username" : "user",
          "password" : "pwd"
        } ]
      },
      "classPath" : [ ]
    },
    "webFolder" : "${webswing.rootDir}/apps/webapps",
    "langFolder" : "${webswing.configDir}/lang",
    "homeDir" : "${user.dir}",
    "allowedCorsOrigins" : [ "*" ],
    "adminConsoleUrl" : "admin"
  },
  "/swingset3" : {
    "path" : "/swingset3",
    "webFolder" : "${webswing.rootDir}/apps/SwingSet3/webroot",
    "security" : {
      "module" : "INHERITED",
      "classPath" : [ ]
    },
    "icon" : "${webswing.rootDir}/apps/SwingSet3/icon.png",
    "homeDir" : "${webswing.rootDir}/apps/SwingSet3",
    "langFolder" : "${webswing.configDir}/lang",
    "swingConfig" : {
      "name" : "SwingSet3",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Xmx128m -DauthorizedUser=${user}",
      "classPathEntries" : [ "${webswing.rootDir}/apps/SwingSet3/SwingSet3.jar", "${webswing.rootDir}/apps/SwingSet3/*.jar" ],
      "theme" : "Murrine",
      "fontConfig" : {
        "dialog" : "${webswing.configDir}/fonts/Roboto-Regular.ttf",
        "dialoginput" : "${webswing.configDir}/fonts/RobotoMono-Regular.ttf",
        "serif" : "${webswing.configDir}/fonts/RobotoSlab-Regular.ttf"
      },
      "maxClients" : 100,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "allowStealSession" : true,
      "isolatedFs" : true,
      "debug" : true,
      "javaFx" : true,
      "javaFxClassPathEntries" : [ "${webswing.rootDir}/apps/javafx/*.jar" ],
      "directdraw" : true,
      "compositingWinManager" : true,
      "allowDelete" : true,
      "allowDownload" : true,
      "allowAutoDownload" : true,
      "allowUpload" : true,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "jsLinkWhiteList" : [ "org.webswing.demo.jslink.JsLinkDemo.*" ],
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "com.sun.swingset3.SwingSet3"
      },
      "userDir" : "${user}",
      "transparentFileSave" : true,
      "clearTransferDir" : true,
      "transparentFileOpen" : true,
      "autoLogout" : true,
      "transferDir" : "${user}/upload"
    }
  },
  "/netbeans" : {
    "path" : "/netbeans",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "classPath" : [ ]
    },
    "icon" : "icon.png",
    "webFolder" : "",
    "homeDir" : "${webswing.rootDir}/apps/nbmin",
    "swingConfig" : {
      "name" : "NetBeans Platform",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Dorg.netbeans.log.startup=print -DTopSecurityManager.disable=true",
      "classPathEntries" : [ "*.jar" ],
      "theme" : "Murrine",
      "maxClients" : 1,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "allowStealSession" : true,
      "antiAliasText" : true,
      "isolatedFs" : true,
      "debug" : true,
      "directdraw" : false,
      "allowDelete" : true,
      "allowDownload" : true,
      "allowAutoDownload" : true,
      "allowUpload" : true,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "fontConfig" : { },
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "org.webswing.demo.NbMain"
      }
    }
  },
  "/applet" : {
    "path" : "/applet",
    "security" : {
      "module" : "INHERITED",
      "classPath" : [ ]
    },
    "icon" : "${webswing.rootDir}/apps/SwingSet3/icon.png",
    "webFolder" : "",
    "langFolder" : "${webswing.configDir}/lang",
    "homeDir" : "${webswing.rootDir}/apps/SwingSet3",
    "swingConfig" : {
      "name" : "SwingSet3 applet",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Xmx128m -DauthorizedUser=${user}",
      "classPathEntries" : [ "${webswing.rootDir}/apps/SwingSet3/SwingSet3.jar", "${webswing.rootDir}/apps/SwingSet3/*.jar" ],
      "theme" : "Murrine",
      "maxClients" : -1,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 100,
      "allowStealSession" : true,
      "isolatedFs" : true,
      "debug" : true,
      "javaFx" : true,
      "javaFxClassPathEntries" : [ "${webswing.rootDir}/apps/javafx/*.jar" ],
      "directdraw" : false,
      "allowDelete" : false,
      "allowDownload" : false,
      "allowAutoDownload" : true,
      "allowUpload" : false,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "fontConfig" : { },
      "launcherType" : "Applet",
      "launcherConfig" : {
        "appletClass" : "org.webswing.demo.applet.SwingSet3Applet",
        "parameters" : {
          "param1" : "paramvalue1",
          "param2" : "paramvalue2"
        }
      },
      "userDir" : "${user}",
      "transparentFileOpen" : true,
      "transparentFileSave" : true,
      "transferDir" : "${user}/upload",
      "clearTransferDir" : true,
      "autoLogout" : true
    }
  },
  "/javafx" : {
    "path" : "/javafx",
    "homeDir" : "${webswing.rootDir}/apps/ensemble8",
    "webFolder" : "",
    "langFolder" : "${webswing.configDir}/lang",
    "icon" : "icon.png",
    "security" : {
      "module" : "INHERITED",
      "classPath" : [ ],
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "autoLogout" : true,
      "name" : "JavaFx Demo",
      "theme" : "Murrine",
      "directdraw" : false,
      "javaFx" : true,
      "javaFxClassPathEntries" : [ "${webswing.rootDir}/apps/javafx/*.jar" ],
      "debug" : true,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Dquantum.verbose=true -Dprism.verbose=true",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "ensemble.EnsembleApp"
      },
      "maxClients" : 1,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "allowStealSession" : true,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "fontConfig" : { },
      "classPathEntries" : [ "*.jar" ],
      "transferDir" : "${user}/upload",
      "goodbyeUrl" : "",
      "transparentFileSave" : true,
      "clearTransferDir" : true,
      "transparentFileOpen" : true
    }
  },
  "/rollpaper" : {
    "path" : "/rollpaper",
    "enabled" : true,
    "homeDir" : "${user.dir}",
    "webFolder" : "",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "classPath" : [ ],
      "module" : "INHERITED",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "allowedCorsOrigins" : [ ],
    "swingConfig" : {
      "name" : "My Application",
      "theme" : "Murrine",
      "fontConfig" : { },
      "directdraw" : true,
      "javaFx" : false,
      "compositingWinManager" : false,
      "debug" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "classPathEntries" : 
        [ 
          "${user.dir}/rollpaper/ELabClient_rollpaper_sig.jar", 
          "${user.dir}/jarfiles/*.jar", 
          "${user.dir}/rollpaper/ReCCommon_sig.jar", "${user.dir}/rollpaper/ELabCommon_sig.jar", 
          "${user.dir}/rollpaper/rollpaperClient_sig.jar", 
          "${user.dir}/rollpaper/ReCClient_sig.jar", 
          "${user.dir}/rollpaper/lib/*_sig.jar" 
        ],
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "pt.utl.ist.elab.client.FullClientNewInterface",
        "args" : ""
      },
      "maxClients" : 1,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "monitorEdtEnabled" : true,
      "loadingAnimationDelay" : 2,
      "allowStealSession" : true,
      "autoLogout" : true,
      "sessionLogging" : false,
      "isolatedFs" : false,
      "allowUpload" : true,
      "allowDelete" : true,
      "allowDownload" : true,
      "allowAutoDownload" : true,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "jsLinkWhitelist" : [ "*" ],
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "recordingsFolder" : "${webswing.tempDirPath}recordings${webswing.appPath}/",
      "testMode" : false,
      "goodbyeUrl" : "",
      "loggingDirectory" : "${webswing.logsDir:-logs/}",
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "transparentFileOpen" : true,
      "transparentFileSave" : true,
      "transferDir" : "${user}/upload",
      "clearTransferDir" : true,
      "dockMode" : "ALL",
      "vmArgs" : "-Dorg.omg.CORBA.ORBClass=org.openorb.orb.core -Djnlp.packEnabled=true -Drec.face.config=http://elab.ist.utl.pt:8080/rec.web/client/etc/ReCFaceConfig.xml -Drec.multicastcontroller.bindname=MultiCastController -Dorg.omg.CORBA.ORBSingletonClass=org.openorb.orb.core.ORBSingleton -Dcom.sun.CORBA.ORBDynamicStubFactoryFactoryClass=com.sun.corba.se.impl.presentation.rmi.StubFactoryFactoryStaticImpl -Dopenorb.config=http://elab.ist.utl.pt:8080/rec.web/client/etc/openorb.xml -Dopenorb.profile=ReCClient -Djava.net.preferIPv4Stack=true -Dvideo.enabled=yes -Drec.apparatus.autoconnect.id=ROLL_DOWN_TOILET_PAPER_V1.0 -Drec.apparatus.autoacquireresult=false -Drec.processingmanager.threadPool.coresize=2 -Drec.processingmanager.threadPool.maxsize=4 -Drec.processingmanager.thread.idletime=11",
      "allowStatisticsLogging" : true
    },
    "serverStatisticsLogging" : true
  }
}