/* Linkare TI - CSS by snoronha and fildefonso - 05/05/2010 */
body {
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #231F20;
	background-color: #283234;
}

h1 {
	font-weight: bold;
	font-size: 18px;
	color: #22363A
}

/*-------- Header Definitions --------*/
#header {
	background-color: transparent;
}

#welcome {
	float: right;
	color: white;
	padding-top: 0px;
	padding-right: 5px;
	border-right: 1px solid;
}

#logout {
	float: right;
	padding-top: 12px;
	padding-right: 5px;
	padding-left: 5px;
}

#logout a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#banner {
	padding-left: 10px;
	padding-top: 15px;
}

/*-------- Navigation Definitions --------*/
#nav {
	background: url("../../resources/images/menu_bg.gif") repeat-x;
	height: 30px;
}

#main_nav {
	margin: 0;
	padding: 0;
	height: 30px;
	float: left;
}

#ext_nav {
	margin: 0;
	padding: 0;
	height: 30px;
	float: right;
}

#main_nav li,#ext_nav li {
	list-style-type: none;
	display: inline;
	float: left;
	padding: 0;
	margin: 0;
	height: 30px;
}

#main_nav li a,#ext_nav li a {
	font-weight: bold;
	text-decoration: none;
	color: white;
	display: block;
	padding: 8px 8px 7px 8px;
}

#main_nav li a:hover,#ext_nav li a:hover {
	color: #283234;
	background: #E4EEED;
}

/*-------- Left Column Definitions --------*/
#left_col {
	background-color: #e4eeed;
	width: 17%;
	float: left;
	margin-right: 0.5%;
	min-height: 416px;
}

#left_col ul li {
	list-style-type: none;
	padding-top: 10px;
	text-indent: -20px;
}

#left_col ul li a {
	font-weight: bold;
	text-decoration: none;
	color: #283234;
}

#left_col ul li a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #E4EEED;
	background: #283234;
}

/*-------- Contents Area Definitions --------*/
#center {
	background-color: #E4EEED;
	float: left;
	width: 65%;
	min-height: 416px;
}

#center a {
	color: #283234;
}

#content div.pf-panel-hd {
	background: #283234;
	color: #E4EEED;
	border: 0px;
	font-size: 10pt;
}

#content div.pf-panel-bd {
	border: 0px;
}

.yui-dt table {
	border: 0px !important;
	width: 100% !important;
}

.yui-dt a {
	text-decoration: underline;
}

.yui-dt table thead th {
	background: #cfd7d6 !important;
	border: 0px !important;
}

.yui-dt table thead th input {
	width: 100% !important;
}

.yui-dt table thead th * {
	color: #283234 !important;
	font-size: 10pt !important;
}

.yui-dt table thead th.details_col {
	border-left: 1px solid !important;
	border-right: 1px solid !important;
	border-color: #E4EEED !important;
}

.yui-dt table tbody * {
	border-bottom: 1px solid !important;
	border-top: 1px solid !important;
	border-color: #E4EEED !important;
}

table .yui-dt-selected * {
	background-color: #FFFF9F !important;
	color: #283234;
	font-weight: bold;
	text-decoration: none;
}

.yui-dt-even * {
	background-color: #f4f9f8 !important;
	border: 0px !important;
	color: #283234;
	text-decoration: none;
}

.yui-dt-odd * {
	background-color: #ffffff !important;
	border: 0px !important;
	color: #283234;
	text-decoration: none;
}

form#content div {
	background: transparent;
	border: 0px;
}

.yui-dt-liner {
	padding: 4px 1px !important;
}

.list {
	background-color: #283234;
}

.list_col {
	background-color: red;
}

/*
.yui-skin-sam .yui-dt table {
	border-color: #333333;
	padding: 0;
}

.yui-skin-sam .yui-dt table a {
	text-decoration: none;
	font-weight: bold;
	color: orange;
}

.yui-skin-sam .yui-dt th {
	background: url("../../resources/images/menu_bg.gif") repeat-x;
}
*/
.yui-skin-sam tr {
	color: white;
}

/*
.yui-skin-sam .yui-dt-paginator a.yui-pg-last,.yui-skin-sam .yui-dt-paginator a.yui-pg-first,.yui-skin-sam .yui-dt-paginator a.yui-pg-next,.yui-skin-sam .yui-dt-paginator a.yui-pg-previous
	{
	color: #333333;
}
*/
.yui-skin-sam a.yui-pg-page:link,.yui-skin-sam a.yui-pg-page:hover,.yui-skin-sam a.yui-pg-page:visited
	{
	background: #333333;
	color: #FFFFFF;
}

.fc-event,.myevents a {
	background-color: black !important;
	border-color: black !important;
	color: white !important;
}

.fc-event,.others_events a {
	background-color: grey !important;
	border-color: grey !important;
	font: black !important;
}

/*-------- Right Column Definitions --------*/
#right_col {
	background-color: #E4EEED;
	width: 17%;
	float: left;
	margin-left: 0.5%;
	min-height: 416px;
}

/*-------- Footer Definitions --------*/
#footer {
	color: white;
}

#footer p {
	color: white;
}

/*-------- Auth Body Definitions --------*/
#auth {
	background-color: #283234;
}

/*-------- Top Login Definitions --------*/
#top_login {
	background: url("../../resources/images/logo.png") no-repeat;
	margin-left: 10px;
	height: 100px;
	background-color: #283234;
}

#top_login h1 {
	font-size: 25px;
	text-align: center;
	padding-top: 30px;
	color: white;
}

/*-------- Login Definitions --------*/
#login {
	background-color: #E4EEED;
	min-height: 316px;
	padding-top: 60px;
	width: 100%;
}

#login form.elab_launch {
	background: url("../../resources/images/auth_box.png") no-repeat;
	border-left: 1px solid #E4EEED;
	float: right;
	height: 200px;
	width: 30%;
	margin-top: -202px;
	margin-right: 19%;
	border: 1px solid #0C1011;
}

#login form.elab_launch h1 {
	text-align: center;
	color: white;
}

#login form.am_login {
	background: url("../../resources/images/auth_box.png") no-repeat;
	border: 1px solid #0C1011;
	height: 200px;
	margin-left: 20%;
	width: 30%;
}

#login form.am_login h1 {
	text-align: center;
	color: white;
}

#login table {
	color: white;
	font-weight: bold;
	padding: 12px 0 0 45px;
}

#login ul {
	list-style: none outside none;
	padding-top: 5px;
}

#login ul li {
	margin-left: -40px;
	padding-top: 5px;
	text-align: center;
}

#login ul li a {
	color: #E4EEED;
	font-weight: bold;
}

/*-------- Auth Footer Definitions --------*/
#auth_footer {
	color: white;
	background-color: #283234;
	height: 30px;
}

#auth_footer p {
	color: white;
}

/*-------- Submit Button Definitions --------*/
.submit {
	color: #2b7a3b;
	font-weight: bold;
	background-image: url("../../resources/images/login_button.png");
	border-style: none;
	height: 25px;
	width: 100px;
}

/*-------- loginDomain Selector Definitions --------*/
.loginDomain {
	width: 186px;
	border: 1px solid;
	border-color: black;
	height: 23px;
}

/*-------- username box Definitions --------*/
.username {
	border: 1px solid;
	border-color: black;
	width: 185px;
	height: 23px;
}

/*-------- password box Definitions --------*/
.password {
	border: 1px solid;
	border-color: black;
	width: 185px;
	height: 23px;
}

.elab_error {
	color: red;
}

.elab_info {
	color: white;
}