build/java/
.ant-targets-build.xml
.ant-targets-buildall.xml
.ant-targets-elabbuild.xml
.ant-targets-experimentsbuild.xml
.ant-targets-recbuild.xml
.classpath
.deployment
.ecpproperties
.project
dist/
deployment/application/.settings/
deployment/base-images/.settings/
deployment/compose/.settings/
elab/.settings/
rec.build.all/.settings/
rec/.settings/
rec.web/src/main/resources-rec
rec.web/src/main/webapp/client
/bin/
**/target
/target 
elab/lib/java/driver/RXTXcomm.jar
rec/lib/java/hardwareserver/*.jar
build.properties
/bin/
.directory
nbproject