build/java/
.ant-targets-build.xml
.ant-targets-buildall.xml
.ant-targets-elabbuild.xml
.ant-targets-experimentsbuild.xml
.ant-targets-recbuild.xml
.classpath
.deployment
.ecpproperties
.project
dist/
deployment/application/.settings/
deployment/base-images/.settings/
deployment/compose/.settings/
elab/.settings/
rec.build.all/.settings/
rec/.settings/


