codebase=
href=
jnlp.jfreechart.href=JFreeChartClient.jnlp
jnlp.linuxinstaller.href=linuxInstaller.jnlp
title=Remote Experienced Control Client Library
vendor=Linkare TI, Instituto Superior Técnico
homepage=http://elab.ist.utl.pt/rec
one-line=
tootip=
short=
j2se-version=
jar=
main-class=