/* Linkare TI - CSS by snoronha and fildefonso - 05/05/2010 */
body {
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #231F20;
	background-color: #455660;
}

h1 {
	font-weight: bold;
	font-size: 18px;
	color: #22363A
}

/*-------- Header Definitions --------*/
#header {
	background-color: transparent;
}

#welcome {
	float: right;
	color: white;
	padding-top: 0px;
	padding-right: 5px;
	border-right: 1px solid;
}

#logout {
	float: right;
	padding-top: 12px;
	padding-right: 5px;
	padding-left: 5px;
}

#logout a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#banner {
	padding-left: 10px;
	padding-top: 15px;
}

#banner-p-elab {
}

#banner-p-labs {
}

/*-------- Navigation Definitions --------*/
#nav {
	background: url("../../resources/images/menu_bg.gif") repeat-x;
	height: 30px;
}

#main_nav {
	margin: 0;
	padding: 0;
	height: 30px;
	float: left;
}

#ext_nav {
	margin: 0;
	padding: 0;
	height: 30px;
	float: right;
}

#main_nav li,#ext_nav li {
	list-style-type: none;
	display: inline;
	float: left;
	padding: 0;
	margin: 0;
	height: 30px;
}

#main_nav li a,#ext_nav li a {
	font-weight: bold;
	text-decoration: none;
	color: white;
	display: block;
	padding: 8px 8px 7px 8px;
}

#main_nav li a:hover,#ext_nav li a:hover {
	color: #283234;
	background: #E4EEED;
}

/*-------- Left Column Definitions --------*/
#left_col {
	background-color: #e4eeed;
	width: 17%;
	float: left;
	margin-right: 0.5%;
	min-height: 416px;
}
#left_col ul {margin:1px 1px 0 1px;padding:0;}

#left_col ul li {
	list-style-type: none;
	padding: 0px;
	margin:0 0 1px 0;
}

#left_col ul li a {
	font-weight: bold;
	text-decoration: none;
	color: #283234;
	padding:3px 3px 3px 7px;
	display:block;
	background: #cfd7d6;
}

#left_col ul li a:hover {
	color: #e4eeed;
	background: #283234;
}

/*-------- Contents Area Definitions --------*/
#center {
	background-color: #E4EEED;
	float: left;
	width: 65%;
	min-height: 416px;
}

#center a {
	color: #283234;
}

#center form#j_idt46 a {
	font-weight:bold !important;
}

#center form#j_idt46 table tbody tr td label {color:#283234 !important;font-weight:bold;font-size:12px;}
#center form#j_idt46 table {background:#cfd7d6 !important;margin-left:2px !important;border-collapse: collapse !important;}
#center form#j_idt46 table tbody tr td {border-top:#E4EEED 2px solid !important;padding:0 5px 0 5px;text-align:left !important;}
#center form#j_idt46 table tbody tr td input{margin:5px 2px 5px 2px;border:#283234 1px solid !important;font-size:12px;color:#283234 !important;width:300px !important;}
#center form#j_idt46 table tbody tr td div.ft input{width:auto !important;}
#center form#j_idt46 table tbody tr td select{margin:5px 0 5px 0;border:#283234 1px solid !important;font-size:12px;color:#283234 !important;}

#content div.pf-panel-hd {
	background: #283234;
	color: #E4EEED;
	border: 0px;
	font-size: 10pt;
}

#content div.pf-panel-bd {
	border: 0px;
	margin:0;
}

.yui-dt table {
	border: 0px !important;
	width:100%;
}

.yui-dt a {
	text-decoration: none !important;
	display:block !important;
	padding:0 !important;
	margin:0 !important;
}
.yui-dt a:hover {text-decoration:none !important;}

.yui-dt table thead tr th {
	background: #cfd7d6 !important;
	text-align:center !important;
	padding:3px 5px 3px 5px !important;
	cursor:default !important;
	color: #283234 !important;
	font-size: 10pt !important;	
	border: none !important;	
	border-left:#e4eeed 1px solid !important;
	border-bottom:#e4eeed 1px solid !important;	
}

.yui-dt table thead th input {
	width: 98% !important;
	border: #283234 1px solid !important;
	margin-top:3px !important;
}

.yui-dt table thead th.details_col {
	border-left: 1px solid !important;
	border-right: 1px solid !important;
	border-color: #E4EEED !important;
}

.yui-dt table tbody {
	border-bottom: 1px solid !important;
	border-top: 1px solid !important;
	border-color: #E4EEED !important;
}

.yui-dt-even td,.yui-dt-odd td,.yui-dt-empty td {
	border:none !important;
	color: #283234;
	text-decoration: none;
	cursor:default !important;
	border-left:#e4eeed 1px solid !important;
	border-bottom:#e4eeed 1px solid !important;
	width: auto !important;
}

.yui-dt-even td {background: #f4f9f8 !important;}
.yui-dt-odd  td {background: #ffffff !important;}

.yui-dt-selected td{
	font-weight: bold !important;
	color:#283234 !important;
}

form#content div {
	background: transparent;
	border: 0px;
}

.yui-dt-empty {
	border-top:none !important;
	background:#ffffff !important;
	}

.yui-dt-liner {
	padding: 4px 1px !important;
	margin-left:auto !important;
	margin-right:auto !important;
	cursor:default !important;
}

.yui-skin-sam th.yui-dt-asc  .yui-dt-liner .yui-dt-label .yui-dt-sortable {background: url('../../resources/images/dt-arrow-up.png') top right no-repeat !important;}
.yui-skin-sam th.yui-dt-desc .yui-dt-liner .yui-dt-label .yui-dt-sortable {background: url('../../resources/images/dt-arrow-dn.png') top right no-repeat !important;}

.yui-skin-sam th.yui-dt-asc  .yui-dt-liner,.yui-skin-sam th.yui-dt-desc .yui-dt-liner {background: none !important;}


.title_col .yui-dt-liner,.details_col .yui-dt-liner,.links_col .yui-dt-liner,.yui-dt-last .yui-dt-empty .yui-dt-liner {
	margin:0 !important;
	padding:2px 4px 2px 4px !important;
	cursor:default !important;
	border:none !important;
	color:#283234;
		
}
.links_col .yui-dt-liner a, .yui-dt-even .yui-dt-last .yui-dt-liner a, .yui-dt-odd .yui-dt-last .yui-dt-liner a{
	display:inline !important;
}

.list {
	background-color: #283234;
}

.list_col {
	background-color: red;
}

/*
.yui-skin-sam .yui-dt table {
	border-color: #333333;
	padding: 0;
}

.yui-skin-sam .yui-dt table a {
	text-decoration: none;
	font-weight: bold;
	color: orange;
}

.yui-skin-sam .yui-dt th {
	background: url("../../resources/images/menu_bg.gif") repeat-x;
}

.yui-skin-sam tr {
	color: white;
}*/
.yui-pg-container,.yui-pg-container .yui-pg-pages {white-space:nowrap;}

.yui-pg-container a.yui-pg-first, .yui-pg-container a.yui-pg-previous,.yui-pg-container a.yui-pg-last, .yui-pg-container a.yui-pg-next {
	background: #333333 !important;
	color: #ffffff !important;
	display:inline !important;
	font-weight:bold !important;
	padding:3px 6px !important;
	position:relative;
	top:-6px;
}

.yui-pg-pages a.yui-pg-page	{
	background: #333333;
	color: #ffffff !important;
	padding:3px 6px !important;
	float:left !important;
	font-weight:bold !important;
	border:none !important;
	margin-right:3px !important;
	margin-bottom:0 !important;
}

.yui-pg-pages a.yui-pg-page:hover,.yui-pg-container a.yui-pg-first:hover, .yui-pg-container a.yui-pg-previous:hover, .yui-pg-container a.yui-pg-last:hover, .yui-pg-container a.yui-pg-next:hover	{
	background: #7f7f7f !important;
	}
	
.yui-pg-pages .yui-pg-current-page	{
	float:left !important;
	background:#cfd7d6;
	margin-bottom:0 !important;
	margin-right:3px !important;
	}

.yui-pg-container .yui-pg-first, .yui-pg-container .yui-pg-previous, .yui-pg-container .yui-pg-last, .yui-pg-container .yui-pg-next	{
	background: #cfd7d6 !important;
	color: #afafaf !important;
	padding:3px 6px !important;
	margin-right:3px !important;
	font-weight:bold !important;
	position:relative;
	top:-6px;	
}

.fc-event,.myevents a {
	background-color: black !important;
	border-color: black !important;
	color: white !important;
}

.fc-event,.others_events a {
	background-color: grey !important;
	border-color: grey !important;
	font: black !important;
}

/*-------- Right Column Definitions --------*/
#right_col {
	background-color: #E4EEED;
	width: 17%;
	float: left;
	margin-left: 0.5%;
	min-height: 416px;
}
.pf-panel-ft {margin:0; !important;}
/*-------- Footer Definitions --------*/
#footer {
	color: white;
}

#footer p {
	color: white;
}

/*-------- Auth Body Definitions --------*/
#auth {
	background-color: #283234;
}

/*-------- Top Login Definitions --------*/
#top_login {
	margin-left: 10px;
	height: 100px;
	background-color: #455660;
}

#top_login h1 {
	font-size: 25px;
	text-align: center;
	padding-top: 30px;
	color: white;
}

/*-------- Login Definitions --------*/
#login {
	background-color: #E4EEED;
	min-height: 316px;
	padding-top: 60px;
	width: 100%;
}

#login form.elab_launch {
	background: url("../../resources/images/auth_box.png") no-repeat;
	border-left: 1px solid #E4EEED;
	float: right;
	height: 200px;
	width: 30%;
	margin-right: 13.3%;
	min-width: 30%;
	overflow: hidden;
	border: 1px solid #0C1011;
}

#login form.elab_launch h1 {
	text-align: center;
	color: white;
}

#login form.am_login {
	background: url("../../resources/images/auth_box.png") no-repeat;
	border: 1px solid #0C1011;
	height: 200px;
	width: 30%;
	min-width: 30%;
	overflow: hidden;
	margin-left: 13.3%;
	display: inline-block;
}

#login form.am_login h1 {
	text-align: center;
	color: white;
}

#login table {
	color: white;
	font-weight: bold;
	padding: 12px 0 0 45px;
}

#login ul {
	list-style: none outside none;
	padding-top: 5px;
}

#login ul li {
	margin-left: -40px;
	padding-top: 5px;
	text-align: center;
}

#login ul li a {
	color: #E4EEED;
	font-weight: bold;
}

/*-------- Auth Footer Definitions --------*/
#auth_footer {
	color: white;
	background-color: #455660;
	height: 30px;
}

#auth_footer p {
	color: white;
}

/*-------- Submit Button Definitions --------*/
.submit {
	color: #2b7a3b;
	font-weight: bold;
	background-image: url("../../resources/images/login_button.png");
	border-style: none;
	height: 25px;
	width: 100px;
}

/*-------- loginDomain Selector Definitions --------*/
.loginDomain {
	width: 186px;
	border: 1px solid;
	border-color: black;
	height: 23px;
}

/*-------- username box Definitions --------*/
.username {
	border: 1px solid;
	border-color: black;
	width: 185px;
	height: 23px;
}

/*-------- password box Definitions --------*/
.password {
	border: 1px solid;
	border-color: black;
	width: 185px;
	height: 23px;
}

.elab_error {
	color: red;
}

.elab_info {
	color: white;
}

/*--------Calendar Definitions----------*/
.fc-header-center {color:#283234;}
.fc-view.month table tbody tr td {height:50px !important;width:75px !important;}
.bd td input,.bd td select{border:#283234 1px solid !important;}