<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>PRODUCTION</param-value>
	</context-param>
	<listener>
		<description>Loads the laboratories and apparatus from the ReCFaceConfig.xml file</description>
		<display-name>Laboratories Loader and Synchronizer</display-name>
		<listener-class>com.linkare.rec.web.listener.LaboratoriesLoader</listener-class>
	</listener>
	<context-param>
		<description>Wether LaboratoriesLoader listener should attempt to synchronize from the ReCFaceConfig.xml file at startup</description>
		<param-name>read.rec.face.config</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JnlpDownloadServlet</servlet-name>
		<servlet-class>jnlp.sample.servlet.JnlpDownloadServlet</servlet-class>
		<!-- To activate logging, uncomment the following init params, and check 
			their values -->
		<!--init-param>
			<param-name>logPath</param-name>
			<param-value>/tmp/rec-jws-download-servlet.log</param-value>
		</init-param>
		<init-param>
			<description>Only one of NONE,FATAL,WARNING,INFORMATIONAL,DEBUG may be specified</description>
			<param-name>logLevel</param-name>
			<param-value>DEBUG</param-value>
		</init-param-->
		<init-param>
			<description>The jnlp files extension</description>
			<param-name>jnlp-extension</param-name>
			<param-value>.jnlp</param-value>
		</init-param>
		<init-param>
			<description>The jar files extension</description>
			<param-name>jar-extension</param-name>
			<param-value>.jar</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JnlpDownloadServlet</servlet-name>
		<url-pattern>/client/*</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>
	<listener>
		<listener-class>com.linkare.rec.web.listener.SessionListener</listener-class>
	</listener>
	<filter>
		<filter-name>AuthenticatedFilter</filter-name>
		<filter-class>com.linkare.rec.web.filter.AuthenticatedFilter</filter-class>
	</filter>
	<filter>
		<filter-name>SessionTimeoutFilter</filter-name>
		<filter-class>com.linkare.rec.web.filter.SessionTimeoutFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticatedFilter</filter-name>
		<url-pattern>*.faces</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionTimeoutFilter</filter-name>
		<url-pattern>*.faces</url-pattern>
	</filter-mapping>
	<error-page>
		<error-code>403</error-code>
		<location>/AccessDenied.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Error.faces</location>
	</error-page>
	<mime-mapping>
		<extension>jnlp</extension>
		<mime-type>application/x-java-jnlp-file</mime-type>
	</mime-mapping>
</web-app>