{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "EMBEDED",
      "config" : {
        "users" : [ {
          "username" : "admin",
          "password" : "pwd",
          "roles" : [ "admin" ]
        }, {
          "username" : "support",
          "password" : "pwd",
          "roles" : [ "support" ]
        }, {
          "username" : "user",
          "password" : "pwd"
        } ]
      },
      "classPath" : [ ]
    },
    "webFolder" : "${webswing.rootDir}/apps/webapps",
    "langFolder" : "${webswing.configDir}/lang",
    "homeDir" : "${user.dir}",
    "allowedCorsOrigins" : [ "*" ]
  },
  "/vtiro" : {
    "path" : "/vtiro",
    "enabled" : true,
    "homeDir" : "${user.dir}",
    "webFolder" : "",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "classPath" : [ ],
      "module" : "INHERITED",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "allowedCorsOrigins" : [ ],
    "swingConfig" : {
      "name" : "Tiro Virtual",
      "theme" : "Murrine",
      "fontConfig" : { },
      "directdraw" : true,
      "javaFx" : true,
      "compositingWinManager" : false,
      "debug" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "classPathEntries" : 
        [ 
          "${user.dir}/apps/webapps/elab/ELabClient_vtiro_sig.jar", 
          "${user.dir}/apps/webapps/elab/common/lib/*.jar", 
          "${user.dir}/apps/webapps/elab/ReCCommon_sig.jar", 
          "${user.dir}/apps/webapps/elab/ELabCommon_sig.jar", 
          "${user.dir}/apps/webapps/elab/vtiroClient_sig.jar", 
          "${user.dir}/apps/webapps/elab/ReCClient_sig.jar", 
          "${user.dir}/apps/webapps/elab/lib/*_sig.jar"
        ],
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "pt.utl.ist.elab.client.FullClientNewInterface",
        "args" : ""
      },
      "maxClients" : 10,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "monitorEdtEnabled" : true,
      "loadingAnimationDelay" : 2,
      "allowStealSession" : true,
      "autoLogout" : true,
      "sessionLogging" : false,
      "isolatedFs" : false,
      "allowUpload" : true,
      "allowDelete" : true,
      "allowDownload" : true,
      "allowAutoDownload" : true,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "jsLinkWhitelist" : [ "*" ],
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "recordingsFolder" : "${webswing.tempDirPath}recordings${webswing.appPath}/",
      "testMode" : false,
      "goodbyeUrl" : "",
      "loggingDirectory" : "${webswing.logsDir:-logs/}",
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "transparentFileOpen" : true,
      "transparentFileSave" : true,
      "transferDir" : "${user}/upload",
      "clearTransferDir" : true,
      "dockMode" : "ALL",
      "vmArgs" : "-Drec.face.config=http://elab-server-payara:8080/rec.web/client/etc/ReCFaceConfig.xml -Dopenorb.config=http://elab-server-payara:8080/rec.web/client/etc/openorb.xml -Dopenorb.home=file:///${user.dir}/openorb/etc/ -Dorg.omg.CORBA.ORBClass=org.openorb.orb.core.ORB -Djnlp.packEnabled=true -Drec.multicastcontroller.bindname=MultiCastController -Dorg.omg.CORBA.ORBSingletonClass=org.openorb.orb.core.ORBSingleton -Dcom.sun.CORBA.ORBDynamicStubFactoryFactoryClass=com.sun.corba.se.impl.presentation.rmi.StubFactoryFactoryStaticImpl -Dopenorb.profile=ReCClient -Djava.net.preferIPv4Stack=true -Dvideo.enabled=yes -Drec.apparatus.autoconnect.id=TIRO_V1.0 -Drec.apparatus.autoacquireresult=false -Drec.processingmanager.threadPool.coresize=2 -Drec.processingmanager.threadPool.maxsize=4 -Drec.processingmanager.thread.idletime=11",
      "allowStatisticsLogging" : true,
      "javaFxClassPathEntries": [
        "${user.dir}/apps/webapps/elab/javafx/lib/*.jar"
      ]
    },
    "serverStatisticsLogging" : true
  }
}