<html>
    <head>
        <style type="text/css">
            body {
                font-family: Arial;
                font-size: 12pt;
                color: #231F20;
            }
            #user {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div id="messageList">
            <!-- Represents the template for user messages div. -->
            <!-- Note that this div cannot have other divs inside -->
            <div id="userMessage__TEMPLATE__">
                <span id="user">__USER__</span><span id="sep">: </span>
                <span id="msg">__MESSAGE__</span>
            </div>
        </div>
        <!-- Required for chat scroll positioning -->
        <a name="messageListEnd"></a>
    </body>
</html>