#template('colorThemeInit.vm') html{height:100%;width:100%;}
* html{overflow-y:scroll;}
body.main{background-color:$theme.pageContentBackgroundColor!important;background-image:none!important;color:$theme.textColor!important;float:left;height:auto;margin:0;min-height:100%;min-width:100%;overflow:visible;padding:0;position:static;width:auto;}
* html body.main{height:100%;width:100%;}
.main ul,.main ol{list-style-position:outside!important;}
.main h1 span,.main h2 span,.main h3 span,.main h4 span{border-bottom:0 none;margin:0;display:inline;position:static;}
.main h1,.main h2,.main h3,.main h4{border-bottom:1px solid #CCC;margin:20px 0;}
.main h1{margin:25px 0 20px 0;letter-spacing:normal;}
.main .macro{background-color:transparent;border:1px dashed #CCC;font-size:100%;height:auto!important;overflow:visible;padding:1px;text-align:left;white-space:nowrap;}
.main .macro-inline{display:inline;margin:0;width:auto!important;}
.main .macro-block{display:block;margin-right:auto;width:99%!important;}
.main .macro-selected{background-color:#E8F2FE;}
.main .macro .macro-placeholder{background-image:url(../images/macro.gif);background-position:left center;background-repeat:no-repeat;color:gray;font-size:87.5%;font-style:italic;padding-left:20px;}
.main .xEmbeddedObject{background-image:url(../images/embed.gif);background-position:center center;background-repeat:no-repeat;border:1px solid #CCC;height:20px;width:40px;}