  },
  "/@apparatus.id@" : {
    "path" : "/@apparatus.id@",
    "enabled" : true,
    "homeDir" : "${user.dir}",
    "webFolder" : "",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "classPath" : [ ],
      "module" : "NONE",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "allowedCorsOrigins" : [ ],
    "swingConfig" : {
      "name" : "@experiment.title@",
      "theme" : "Murrine",
      "fontConfig" : { },
      "directdraw" : false,
      "javaFx" : true,
      "compositingWinManager" : true,
      "debug" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "classPathEntries" : 
        [ 
          "${user.dir}/apps/webapps/elab/ELabClient_@experiment.name@_sig.jar", 
          "${user.dir}/apps/webapps/elab/common/lib/*.jar", 
          "${user.dir}/apps/webapps/elab/ReCCommon_sig.jar", 
          "${user.dir}/apps/webapps/elab/ELabCommon_sig.jar", 
          "${user.dir}/apps/webapps/elab/@experiment.name@Client_sig.jar", 
          "${user.dir}/apps/webapps/elab/ReCClient_sig.jar", 
          "${user.dir}/apps/webapps/elab/lib/*_sig.jar"
        ],
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "@client.main-class@",
        "args" : ""
      },
      "maxClients" : 10,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "monitorEdtEnabled" : true,
      "loadingAnimationDelay" : 2,
      "allowStealSession" : true,
      "autoLogout" : true,
      "sessionLogging" : false,
      "isolatedFs" : false,
      "allowUpload" : true,
      "allowDelete" : true,
      "allowDownload" : true,
      "allowAutoDownload" : true,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "jsLinkWhitelist" : [ "*" ],
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "recordingsFolder" : "${webswing.tempDirPath}recordings${webswing.appPath}/",
      "testMode" : false,
      "goodbyeUrl" : "",
      "loggingDirectory" : "${webswing.logsDir:-logs/}",
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "transparentFileOpen" : true,
      "transparentFileSave" : true,
      "transferDir" : "${user}/upload",
      "clearTransferDir" : true,
      "dockMode" : "ALL",
      "vmArgs" : "-Drec.face.config=file:///${user.dir}/apps/webapps/elab/etc/ReCFaceConfig.xml -Dopenorb.config=file:///${user.dir}/apps/webapps/elab/etc/openorb.xml -Dopenorb.home=file:///${user.dir}/openorb/etc/ -Dorg.omg.CORBA.ORBClass=org.openorb.orb.core.ORB -Djnlp.packEnabled=true -Drec.multicastcontroller.bindname=MultiCastController -Dorg.omg.CORBA.ORBSingletonClass=org.openorb.orb.core.ORBSingleton -Dcom.sun.CORBA.ORBDynamicStubFactoryFactoryClass=com.sun.corba.se.impl.presentation.rmi.StubFactoryFactoryStaticImpl -Dopenorb.profile=ReCClient -Djava.net.preferIPv4Stack=true -Dvideo.enabled=yes -Drec.apparatus.autoconnect.id=@apparatus.id@ -Drec.apparatus.autoacquireresult=false -Drec.processingmanager.threadPool.coresize=2 -Drec.processingmanager.threadPool.maxsize=4 -Drec.processingmanager.thread.idletime=11",
      "allowStatisticsLogging" : true,
      "javaFxClassPathEntries": [
        "${user.dir}/apps/webapps/elab/javafx/lib/*.jar"
      ]
    },
    "serverStatisticsLogging" : true
